
<ng-container>
    <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><img src="./assets/logo(1).jpg" class="img-fluid" alt="Company Logo"></button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu Options</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <p routerLink="dashboard" routerLinkActive="active" class="ms-3 mt-5 activeHover py-2 rounded-2 px-2 pointer">Dashboard</p>

<p routerLink="products" routerLinkActive="active" class="ms-3 mt-5 activeHover py-2 rounded-2 px-2 pointer">Products</p>

<p routerLink="categories" routerLinkActive="active" class="ms-3 mt-5 activeHover py-2 rounded-2 px-2 pointer">Category</p>

<p routerLink="user" routerLinkActive="active" class="ms-3 mt-5 activeHover py-2 rounded-2 px-2 pointer">User</p>

      </div>
    </div>
</ng-container>
